/*基準值設定*/
:root {
    /*色彩*/
    --lightgray: #EFEFEFff;
    --gray: #949494ff;
    --red: #AE0000ff;
    --black: #000000ff;

    /*文字大小*/
    --h1: 128px;
    --h2: 40px;
    --fs_1: 32px;
    --fs_2: 24px;
    --fs_3: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Castoro', serif;
    font-size: var(--fs_2);
    line-height: 1.5;
}

img {
    display: block;
    vertical-align: middle;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

/*文字大小設定*/
.text-m {
    font-size: var(--fs_1);
}

.text-normal {
    font-size: var(--fs_2);
    line-height: 1.5;
    text-decoration: none;
    color: var(--black);
}

/*margin設定*/
.mx-auto {
    margin: 0 auto;
}

.mr-40 {
    margin-right: 40px;
}

.ml-auto {
    margin-left: auto;
}

.mt-160 {
    margin-top: 160px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-160 {
    margin-bottom: 160px;
}

/*padding設定*/
.py-48 {
    padding: 48px 0;
}

/*header區域*/
.title-1 {
    font-size: var(--h1);
    letter-spacing: 0.12em;
}

.text-right {
    text-align: right;
}

.image {
    width: 636px;
}

/*introduction區域*/
.bg-gray {
    background-color: var(--lightgray);
}

.w-50 {
    width: 50%;
}

/*content區域*/
.title-red {
    font-size: var(--h2);
    color: var(--red);
    border-bottom: 3px solid var(--red);
}

.year {
    font-size: var(--fs_3);
    color: var(--gray);
    font-style: italic;
}

.text-normal:hover {
    text-decoration: underline;
}

/*footer區域*/
.footer {
    background-color: var(--black);
    padding: 64px 0;
    text-align: center;
}

.footer-item {
    display: inline-block;
}

.footer-item:hover {
    opacity: .8;
}
