/*基準值設定*/
:root {
    /*色彩*/
    --lightgray: #EFEFEFff;
    --gray: #949494ff;
    --red: #AE0000ff;
    --black: #000000ff;

    /*文字大小*/
    --h1: 128px;
    --h2: 40px;
    --fs_1: 32px;
    --fs_2: 24px;
    --fs_3: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Castoro', serif;
    line-height: 1.5;
}

img {
    display: block;
    vertical-align: middle;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*header區域*/
.header {
    padding-top: 160px;
    font-size: var(--h1);
    letter-spacing: 10px;
}

.header img {
    width: 636px;
    margin: 0 auto;
}

.header h2 {
    text-align: end;
}

/*introduction區域*/
.introduction {
    background-color: var(--lightgray);
    font-size: var(--fs_1);
    padding: 48px 0;
}

.introduction p {
    width: 636px;
    margin-left: auto;
}

/*content區域*/
.content {
    padding-top: 80px;
}

.text {
    width: 636px;
    margin-right: auto;
}

.content h3 {
    font-size: var(--h2);
    color: var(--red);
    border-bottom: 3px solid var(--red);
    margin-bottom: 16px;
}

.info a {
    text-decoration: none;
    display: block;
    color: var(--black);
    font-size: var(--fs_2);
    margin-bottom: 8px;
}

.name, .education, .work {
    margin-bottom: 40px;
}

.year {
    font-size: var(--fs_3);
    color: var(--gray);
    font-style: italic;
}

.place {
    font-size: var(--fs_2);
    margin-bottom: 16px;
}

.awards {
    margin-bottom: 160px;
}

.awards ul li {
    font-size: var(--fs_2);
    margin-bottom: 12px;
}

/*footer區域*/
.footer {
    background-color: black;
    padding: 64px 0;
}

.icon {
    /*display: flex;
    justify-content: center;*/
    width: 320px;
    margin: 0 auto;
}

.icon img {
    display: inline-block;
    width: 64px;
    margin: 0 20px;
}